@using BattleshipGame.Enums
@using BattleshipGame.Models

<CascadingValue Value="@Ships">
    <CascadingValue Value="@AreShipsDefeated">
        @for (var i = 0; i < Ships.GetLength(0); i++)
        {
            <div class="d-flex flex-row">
                <div class="d-flex justify-content-center align-items-center" style="width: 50px;height: 50px;">
                    @Convert.ToChar(i + 'A')
                </div>

                @for (var j = 0; j < Ships.GetLength(1); j++)
                {
                    var row = i;
                    var column = j;
                    
                    <Cell Coordinate="@(new Coordinate(row, column))" 
                          CellStatus="@Ships[row, column]" 
                          OnShipsChanged="@OnShipsChanged" />
                }
            </div>
        }
    </CascadingValue>
</CascadingValue>

@code{

    [CascadingParameter]
    public CellStatus[,] Ships { get; set; } = default!;

    [CascadingParameter]
    public bool AreShipsDefeated { get; set; }
    
    [Parameter]
    public EventCallback<CellStatus[,]> OnShipsChanged { get; set; }
}